$primary-color: #1B1722;
$accent-color: #0e68d0;
$secondary-color: #282C2F;
$text-color: #777777;
$gray:  #D2D2D2;

$inputHeight: 50px;
$inputPadding: 1.4em;
$borderRadius: .4em;

$space-sm:12px;
$space-md:24px;
$space-lg:40px;
$space-xl:50px;
$space-2xl:75px;
$space-3xl:100px;