@use "abstracts" as *;

main {
    display: grid;
    grid-template-columns: minmax(0, vwsize(950px)) minmax(0, 1fr);
    position: relative;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: vwsize($space-2xl) vwsize(220px);
    gap: vwsize(100px);
    box-shadow: 17px 0 17px -3px #00000024;
    z-index: 1;

    & .logo {
        width: vwsize(150px);
    }

    & .form-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: vwsize(35px);
    }

}

.banner-section {

    position: relative;
    height: vwsize(950px);
    max-height: 100vh;

    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        //filter: grayscale(1);
    }
}
