@use "abstracts" as *;


label {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: vwsize($space-sm);
    width: fit-content;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    height: vwsize($space-md);
    aspect-ratio: 1;
    border: none !important;
    outline: transparent;
    border-radius: vwsize(3px) !important;
    background-color: #dfe2e5;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

input[type="checkbox"]:checked {

    background-color:  $accent-color;
    outline: 1px solid transparent!important;

}

input[type="checkbox"]:checked::after {
    content: '\2713';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
}

input[type="checkbox"]:focus {
    outline: 1px solid color-mix(in srgb, $accent-color 80%, transparent);
    outline-offset: 0;
}