@use "abstracts" as *;


.field-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & .field-errors{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: vwsize(10px);
        color: #b70d0d;
        font-size:.9em;
    }
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: vwsize(12px);

    & input {
        padding: $inputPadding;
        height: vwsize($inputHeight);
        border-radius: $borderRadius;

        border: solid 1px $gray;

        outline: vwsize(1px) solid transparent;

        transition: outline-color .2s, background-color .2s, border-color .2s;

        &:focus {
            outline: vwsize(1px) solid color-mix(in srgb, $accent-color 80%, transparent);
            border: solid 1px transparent;
            background-color: color-mix(in srgb, $accent-color 10%, transparent);
        }

        &:hover {
            outline: vwsize(1px) solid color-mix(in srgb, $accent-color 80%, transparent);
            border: solid 1px transparent;
        }
    }
}
